@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        margin: 0;
        padding-top: 15px;
      }
      ul, li, p, h1, h2, h3, h4 {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style-type: none;
      }
      p{
        font-family: "SF Pro Text", sans-serif;
        font-weight: 600;
      }
  }

.custom-container {
    max-width: 1110px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}